:root {
    /*Paleta de colores*/
    --color-bg-modal: #8daaf0;
    --color-btn-cerrar: #f87171;
    --color-border: #0026a4;
    --color-btn-hover: #204ad3;
}

/*Modal desactivado por defecto*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/*Modal activado*/
.modal-content {
    background-color: var(--color-bg-modal);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
    border: 8px solid var(--color-text-primary);
}


.modal-content p{
    font-size: 50px;
    color: var(--color-text-primary);
}
span {
    font-size: 250px;
    font-weight: bold;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--color-btn-cerrar);
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cerrar:hover {
    padding: 5px;
    background-color: var(--color-btn-cerrar);
    color: white;
    transform: scale(1.2);
}

.form-content {
    padding: 20px;
    font-size: 25px;
    border: 5px solid var(--color-border);
}

input {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 15px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: var(--color-border);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.2);
    background-color: var(--color-btn-hover);
}

.backbtn {
    font-size: 15px;
    padding: 10px 20px;
    background-color: var(--color-bg-btn-1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.backbtn:hover {
    transform: scale(1.2);
    background-color: var(--color-bg-btn-1-hover);
}