* {
    /*Estilo global*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*Paleta de colores*/
    --color-text-primary: #1f2936;
    --color-text-secondary: #ffffff;
    --color-text-placeholder: #798eae;
    --color-bg-primary: #d5f7ff;
    --color-bg-btn-1: #3b82f6;
    --color-bg-btn-2: #10b981;
    --color-bg-btn-1-hover: #2563eb;
    --color-bg-btn-2-hover: #059669;
}

/*Color del Fondo*/
body {
    background-color: var(--color-bg-primary); 
  
}

/*Titulo*/
header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/*Apartado Principal*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 15px;
}

h3 {
    padding: 10px;
}

p {
    padding: 10px;
    font-size: 18px;
    color: var(--color-text-primary);
}

.card {
    margin: 20px;
    padding: 10px;
    border: 5px solid var(--color-text-primary);
    max-width: 800px;
}


.btn-1 {
    width: 200px;
    height: 50px;
    background-color: var(--color-bg-btn-1);
    pointer-events: cursor;
    border: none;
    transition: all 0.3s ease;
}

.btn-1:hover {
    background-color: var(--color-bg-btn-1-hover);
    transform: scale(1.1);
}

.btn-2 {
    width: 200px;
    height: 50px;
    background-color: var(--color-bg-btn-2);
    pointer-events: cursor;
    border: none;
    transition: all 0.3s ease;
}

.btn-2:hover{
    background-color: var(--color-bg-btn-2-hover);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--color-text-secondary);
    font-size: 18px;
    font-weight: bold;
}

